* {
    box-sizing: border-box;
}


body {
    background-color: rgb(245, 235, 216);


}

h1 {
    color: #63220c;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.container {
    padding: 30px;
    margin: auto;
    height: 360px;
    width: 300px;
    background-color: #e9a75d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.screen {
    background-color: white;
    padding: 8px;
    width: 230px;
    border-radius: 4px;
}

.buttons {
    width: 230px;
    /* background-color: #9a9ebb; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: wheat;
    font-size: 40px;
    border: none;
    color: black;
    cursor: pointer;
}

.equal {
    background-color: #7d4e1a;
}

.clear {
    width: 230px;
    font-size: 20px;
    font-weight: 600;
}